@model List<NJFairground.Web.Models.EventModel>

@{
    ViewBag.Title = "Schedule | Sussex County Fairgrounds";
    ViewBag.PageId = "schedule";
    Layout = "~/Views/Shared/_LayoutPage.mobile.cshtml";
}

<h2 class="title">2014 Year Round Event Schedule </h2>

<div class="ui-grid-solo schedule">
    <div class="ui-block-a">
        @foreach (var pageItemdata in Model)
        {
            <div class="block">
                <a class="schedule-pic" href="@Url.Action("Index", "EventDetails", new { PageId = Convert.ToInt32(NJFairground.Web.Models.Page.Event), EventId = pageItemdata.EventId })">
                    <span style="font-size: 11px; color: #fff;padding: 0;margin: 1px 0 0 0;letter-spacing: 3px;position: relative;top: -3px;">@pageItemdata.StartDate.ToString("MMM").ToUpper()</span><br />
                    @pageItemdata.StartDate.Day
                </a>
                <a title="Details" class="details" href="@Url.Action("Index", "EventDetails", new { PageId = Convert.ToInt32(NJFairground.Web.Models.Page.Event), EventId = pageItemdata.EventId }) ">Details</a>
                <h4>@pageItemdata.StartDate.ToString("MM/dd/yyyy HH:mm") To @pageItemdata.EndDate.ToString("MM/dd/yyyy HH:mm")</h4>
                <p>@pageItemdata.EventTitle</p>
            </div>
        }
    </div>
</div>
