@using NJFairground.Web.Utilities
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Home | Sussex County Fairgrounds</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @{Html.RenderPartial("_CommonStyleSection");}
    @{Html.RenderPartial("_CommonScriptSection");}
</head>
<body style="overflow-y: hidden; overflow-x: hidden;">
    <div data-role="page" id="innerpage" data-title="Inner Page | Sussex County Fairgrounds">
        <!-- /header -->
        @Html.Partial("_Header.mobile")

        <div role="main" class="ui-content" id="body-main" style="overflow-y: auto; overflow-x: hidden;">
            <div class="intro">
                <span class="year">@(CommonUtility.GetAppSetting<string>("FairYear"))</span>
                <h3 class="name">@(CommonUtility.GetAppSetting<string>("FairName"))</h3>
                <h4 class="subname">@(CommonUtility.GetAppSetting<string>("FairSubname"))</h4>
                <span class="catchline">@(CommonUtility.GetAppSetting<string>("FairCatchline"))</span>
                <span class="venue">@(CommonUtility.GetAppSetting<string>("FairVenue"))</span>
            </div>
            <div class="ui-grid-b" style="margin-left: 3%;">
                <div class="ui-block-a">
                    <a href='@Url.Action("Index", "WhatsNew")'>
                        <div class="thumb">
                            <img src='@Url.Content("~/Styles/images/thumb-ip-whatsnew.png")' alt="">
                            <span>What's New!</span>
                        </div>
                    </a>
                </div>
                <div class="ui-block-b">
                    <a href='@Url.Action("Index", "info")'>
                        <div class="thumb">
                            <img src='@Url.Content("~/Styles/images/thumb-ip-info.png")' alt="">
                            <span>Info</span>
                        </div>
                    </a>
                </div>
                <div class="ui-block-c">
                    <a href='@Url.Action("Index", "Map")' data-ajax="false">
                        <div class="thumb">
                            <img src='@Url.Content("~/Styles/images/thumb-ip-map.png")' alt="">
                            <span>Map</span>
                        </div>
                    </a>
                </div>
                <div class="ui-block-a">
                    <a href='@Url.Action("Index", "DailyHighlights")'>
                        <div class="thumb">
                            <img src='@Url.Content("~/Styles/images/thumb-ip-daily-highlights.png")' alt="">
                            <span>Daily Highlights</span>
                        </div>
                    </a>
                </div>
                <div class="ui-block-b">
                    <a href='@Url.Action("Index", "Fun")'>
                        <div class="thumb">
                            <img src='@Url.Content("~/Styles/images/thumb-ip-fun.png")' alt="">
                            <span>Fun</span>
                        </div>
                    </a>
                </div>
                <div class="ui-block-c">
                    <a href='@Url.Action("Index", "Vendors")'>
                        <div class="thumb">
                            <img src='@Url.Content("~/Styles/images/thumb-ip-food.png")' alt="">
                            <span>2014 Vendors</span>
                        </div>
                    </a>
                </div>
                <div class="ui-block-a">
                    <a href='@Url.Action("Index", "Shopping")'>
                        <div class="thumb">
                            <img src='@Url.Content("~/Styles/images/thumb-ip-shopping.png")' alt="">
                            <span>Shopping</span>
                        </div>
                    </a>
                </div>
                <div class="ui-block-b">
                    <a href='@Url.Action("Index", "social")'>
                        <div class="thumb">
                            <img src='@Url.Content("~/Styles/images/thumb-ip-social.png")' alt="">
                            <span>Social</span>
                        </div>
                    </a>
                </div>
                <div class="ui-block-c">
                    <a href='@Url.Action("Index", "Directions")'>
                        <div class="thumb">
                            <img src='@Url.Content("~/Styles/images/thumb-ip-directions.png")' alt="">
                            <span>Directions</span>
                        </div>
                    </a>
                </div>
            </div>
            <span class="presented-by">
                <a href="http://www.army.mil/">
                    <img src='@Url.Content("~/Styles/images/presentedby.png")' alt="">
                </a>
            </span>
        </div>
        <!-- /content -->
        @Html.Partial("_Footer.mobile")
        <!-- /footer -->
    </div>
    <!-- /page -->

</body>
</html>
