@using NJFairground.Web.Utilities;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Sussex County Fairgrounds</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @{Html.RenderPartial("_CommonStyleSection");}
    @{Html.RenderPartial("_CommonScriptSection");}
    
    <script type="text/javascript">
        @(Html.JsMinify(@<text>
        var i = 0;
        function ShowCurrentTime() {
            var dt = new Date();
            $('#timerdata').text(5 - i + " Seconds");
            i++;
            if (i == 5) {
                setTimeout("location.href='@Url.Action("Index", "Home", new { area=""})'", 0);
            }
            window.setTimeout("ShowCurrentTime()", 1000); // Here 1000(milliseconds) means 1 sec
        }
        </text>))
    </script>

</head>
<body onload="ShowCurrentTime()" onunload="">
    <div data-role="page" id="main-page" data-title="Sussex County Fairgrounds">
        <a class="logo" href="home" title="Sussex County Fairgrounds">
            <img src='@Url.Content("~/Styles/images/logo.png")' alt="Sussex County Fairgrounds">
        </a>
        <div class="timer">@Html.Raw("Please Wait For ") <span class="timer-span" id="timerdata">Welcome</span></div>
    </div>

    <div id="bg">
        <img class="bg-main" src='@Url.Content("~/Styles/images/mainpage-bg.jpg")' alt="">
    </div>
    <!-- /page -->
</body>
</html>
