@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}

@section AdimnPageScripts{
    <script src='@Url.Content("~/Areas/Admin/Scripts/moment.min.js")'></script>
    <script src='@Url.Content("~/Areas/Admin/Scripts/fullcalendar.min.js")'></script>
    <script src='@Url.Content("~/Areas/Admin/Scripts/event-scheduler.js")'></script>
    <script src='@Url.Content("~/Areas/Admin/Scripts/tinymce.min.js")'></script>
    <script src='@Url.Content("~/Areas/Admin/Scripts/jquery-ui-timepicker-addon.js")'></script>
}
@section AdimnPageStyles{
    <link href='@Url.Content("~/Areas/Admin/Styles/fullcalendar.css")' type="text/css" rel="stylesheet" />
}

<h2>Index</h2>
<input type="button" onclick="openAddEventWindow()" value="Add Event" />
<div id='calendar'></div>
