@using NJFairground.Web.Utilities
@model NJFairground.Web.Areas.Admin.Models.UserCredentialModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login</title>
    @Html.RenderStyles("~/Areas/Admin/Styles/CommonAdminStyle")
    @Html.RenderScripts("~/Scripts/CommonAdminScript")
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <img src="~/Styles/Images/logo_nj.png" style="width: 50%; margin-left: 23%;" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default" style="margin-top:2%;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { role = "form" }))
                        {
                            <fieldset>
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.UserId, new { @class = "form-control", placeholder = "User Id", autofocus = "autofocus" })
                                    @Html.ValidationMessageFor(x => x.UserId, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control", placeholder = "Password", type = "password" })
                                    @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                @Html.HiddenFor(x => x.RedirectUrl)
                                <input type="submit" class="btn btn-lg btn-success btn-block" value="Login" />
                            </fieldset>
                        }
                        <form role="form"></form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
