@using NJFairground.Web.Areas.Admin.Models
@model SchedularSchema
@using (Ajax.BeginForm("SetEvent", "EventScheduler",
    new AjaxOptions
    {
        OnBegin = "frmAddEvent_OnBeginHandler",
        OnSuccess = "frmAddEvent_OnSuccess",
        OnComplete = "frmAddEvent_OnComplete"
    }, new { id = "frmAddEvent" }))
{
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.pageid)
    @Html.HiddenFor(model => model.statusid)
    @Html.HiddenFor(model => model.description)

    <div class="content-wrapper">
        <div class="content-row">
            <div class="col-left">Title</div>
            <div class="col-right">
                @Html.TextBoxFor(model => model.title)
            </div>
        </div>
        <div class="content-row">
            <div class="col-left">Start Date</div>
            <div class="col-right">
                @Html.TextBoxFor(model => model.start)
            </div>
        </div>
        <div class="content-row">
            <div class="col-left">End Date</div>
            <div class="col-right">
                @Html.TextBoxFor(model => model.end)
            </div>
        </div>
        <div class="content-row">
            <div class="col-left">Start Date</div>
            <div class="col-right">
                @Html.TextBoxFor(model => model.start)
            </div>
        </div>
        <div class="content-row">
            <div class="col-left">Start Date</div>
            <div class="col-right">
                @Html.TextAreaFor(model => model.description, new { style = "width:100%" })
            </div>
        </div>
        <div class="content-row">
            <div class="col-full">
                <input type="submit" value="Save" />
            </div>
        </div>
    </div>
}
