@using NJFairground.Web.Utilities
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://www.njstatefair.org/fair/wp-content/themes/NJ/images/favicon.ico">
    <title>@ViewBag.Title</title>
    <style type="text/css">
        @(Html.CssMinify(@<text>
        .data_loading{
            position: fixed;
            width: 200px;
            height: 35px;
            padding: 10px;
            border: 1px solid #737070;
            border-radius: 0 0 9px 9px;
            z-index: 9999;
            top: 0;
            left: 38%;
            background-color: #A5A0A0;
            color: #fff;
            padding-top: 5px;
            display:none;
        }
        .loading-text{
            width: 100%;
            text-align: center;
            font-size: 15px;
            margin: 0;
            padding: 0;
            letter-spacing: 2px;
        }
        </text>))
    </style>

    @Html.RenderStyles("~/Areas/Admin/Styles/CommonAdminStyle")
    @RenderSection("AdimnPageStyles", false)

    <script type="text/javascript">
        @(Html.JsMinify(@<text>
        var loadingCounter = 0;
        var virtualDirectory = '@(CommonUtility.GetAppSetting<string>("VirtualDirectory"))';
        </text>))
    </script>

    @Html.RenderScripts("~/Scripts/CommonAdminScript")
    @RenderSection("AdimnPageScripts", false)
</head>
<body>
    <div id="dataloading" class="data_loading">
        <div class="loading-text">Loading...</div>
    </div>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html" style="background:url('@Url.Content("~/Styles/Images/widget-big.png")'); background-size: 17%; background-repeat: no-repeat; padding-left: 52px; margin-left: 0; ">Nj Fairground Admin Pannel</a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li style="padding-left: 20px;">
                            <i class="fa fa-user fa-fw"></i> Admin User
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("Logout","Login", new {area= "Admin" })"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="@Url.Action("Index", "Home", new { area = "Admin" })"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "PageList", new { area = "Admin" })"><i class="fa fa-th-large fa-fw"></i> Root Screen</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "SubPageList", new { area = "Admin" })"><i class="fa fa-th-list fa-fw"></i> Sub Screen</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Announcement", new { area = "Admin" })"><i class="fa fa-bullhorn fa-fw"></i> Announcement</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="page-wrapper">
            @RenderBody()
        </div>
    </div>

</body>
</html>
