<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script src='@Url.Content("~/Scripts/jquery-2.1.1.min.js")'></script>
    <script src='@Url.Content("~/Scripts/jquery-migrate-1.2.1.min.js")'></script>
    <script src='@Url.Content("~/Areas/Admin/Scripts/jquery-ui-1.10.4.custom.min")'></script>
    <script src='@Url.Content("~/Scripts/common-script.js")'></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
