@using NJFairground.Web.Utilities;
@using NJFairground.Web.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}
@section AdimnPageStyles{
    <style type="text/css">
        @(Html.CssMinify(@<text>
        #dvPreview {
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);
            min-height: 200px;
            min-width: 200px;
        }
        </text>))
    </style>
}
@section AdimnPageScripts{
    <script src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
    <script type="text/javascript">
        @(Html.JsMinify(@<text>
        (function ($, win) {
            $(document).ready(function () {
                $(document).on('change', '#page-selection', function () {
                    var $self = $(this);
                    var selectedPage = $self.find('option:selected').val();

                    $.ajax({
                        method: "GET",
                        url: '@Url.Content("~/")' + 'Admin/SubPageList/GetPageItems?pageId=' + selectedPage,
                        success: function (data, textStatus, jqXHR) {
                            try {
                                $('#data-grid').html(data);
                                $('#grid-selection').show();
                                $('#data-grid table').dataTable();
                            } catch (ex) { }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(textStatus);
                        }
                    });
                });
            });

            $(document).on('change', '#PageItemImage', function () {
                $("#dvPreview").html("");
                var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
                if (regex.test($(this).val().toLowerCase())) {
                    if ($.browser.msie && parseFloat(jQuery.browser.version) <= 9.0) {
                        $("#dvPreview").show();
                        $("#dvPreview")[0].filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = $(this).val();
                    }
                    else {
                        if (typeof (FileReader) != "undefined") {
                            $("#dvPreview").show();
                            $("#dvPreview").append("<img />");
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                $("#dvPreview img").attr({ 'src': e.target.result, 'width': '200px' });
                            }
                            reader.readAsDataURL($(this)[0].files[0]);
                            $("#dvPreview").closest('.form-group').show();
                        } else {
                            alert("This browser does not support FileReader.");
                        }
                    }
                } else {
                    $("#dvPreview").hide();
                    alert("Please upload a valid image file.");
                }
            });


            this.GetEditScreen = function (data) {
                try {
                    $('#grid-selection').hide();

                    if (data.responseText)
                        $('#data-grid').html(data.responseText);
                    else
                        $('#data-grid').html(data);

                    InitiateEditor('#PageItemDetailText');
                } catch (ex) { }
            };

            this.ShowSubPageInsertScreen = function (data) {
                try {
                    if (data.responseText) {
                        $('#data-grid').html(data.responseText);
                        $.validator.unobtrusive.parse($(data.responseText));
                    }
                    else {
                        $('#data-grid').html(data);
                        $.validator.unobtrusive.parse($(data));
                    }

                    if ($('#data-grid:has(table)').length > 0) {
                        $('#grid-selection').show();
                        $('#data-grid table').dataTable();
                    }
                    else {
                        $('#grid-selection').hide();
                        InitiateEditor('#PageItemDetailText', true);

                        AjaxFileUpload(function (data) {
                            ShowSubPageInsertScreen(data);
                        });
                    }
                } catch (ex) { }
            };

            this.AddSelectedPageId = function (data, hdata) {
                try {
                    if (hdata.url) {
                        var urlData = hdata.url.split('?');
                        if (urlData.length > 0)
                            hdata.url = urlData[0] + '?pageId=' + $('#page-selection :selected').val() + '&' + urlData[1];
                    }
                } catch (ex) { }
            };
        }(jQuery, window));
        </text>))
    </script>
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Sub Screen</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">Add or Edit Sub-Screens</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="grid-selection" class="form-group">
                            <label>Select Screen</label>
                            @Html.DropDownList("Page", (IEnumerable<SelectListItem>)ViewBag.Pages, new { @class = "form-control", id = "page-selection" })
                            <br />
                            <p>
                                @Ajax.ActionLink("Create New", "Add", "SubPageList", new AjaxOptions
                                {
                                    OnBegin = "AddSelectedPageId",
                                    OnComplete = "ShowSubPageInsertScreen"
                                }, new { @class = "btn btn-primary btn-sm" })
                            </p>
                        </div>
                        <div class="form-group" id="data-grid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
