<div data-role="footer" id="footer-main">
    <ul>
        <li>
            <a href='@Url.Action("Index", "Home")' data-ajax="false">
                <span>
                    <img src='@Url.Content("~/Styles/images/icon-home.png")' alt="">
                </span>Home
            </a>
        </li>
        <li>
            <a href='@Url.Action("Index", "Fair")' data-ajax="false">
                <span>
                    <img src='@Url.Content("~/Styles/images/icon-fair.png")' alt="">
                </span>The Fair
            </a>
        </li>
        <li>
            <a href='@Url.Action("Index", "Event")' data-ajax="false">
                <span>
                    <img src='@Url.Content("~/Styles/images/icon-events.png")' alt="">
                </span>Events
            </a>
        </li>
        <li>
            <a href='@Url.Action("Index","Carnival")' data-ajax="false">
                <span>
                    <img src='@Url.Content("~/Styles/images/icon-carnival.png")' alt="">
                </span>The Carnival
            </a>
        </li>
        <li>
             <a href='@Url.Action("Index","CircusHollywood")' data-ajax="false">
                <span>
                    <img src='@Url.Content("~/Styles/images/icon-circus.png")' alt="">
                </span>Circus
                    <br />
                Hollywood
            </a>
        </li>
    </ul>
</div>
<!-- /footer -->
