<div data-role="footer">
    <ul>
        <li><a href="Home"><span>
            <img src='@Url.Content("~/Styles/images/icon-home.png")' alt=""></span> Home</a></li>
        <li><a href="Fair"><span>
            <img src='@Url.Content("~/Styles/images/icon-fair.png")' alt=""></span> The Fair</a></li>
        <li><a href="javascript:void(0)"><span>
            <img src='@Url.Content("~/Styles/images/icon-events.png")' alt=""></span> Events</a></li>
        <li><a href="javascript:void(0)"><span>
            <img src='@Url.Content("~/Styles/images/icon-carnival.png")' alt=""></span> The Carnival</a></li>
        <li><a href="javascript:void(0)"><span>
            <img src='@Url.Content("~/Styles/images/icon-circus.png")' alt=""></span> Circus
                    <br />
            Hollywood</a></li>
    </ul>
</div>
<!-- /footer -->
