@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @RenderSection("Meta", required: false)
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @{Html.RenderPartial("_CommonStyleSection");}
    @RenderSection("PageStyle", required: false)

    @{Html.RenderPartial("_CommonScriptSection");}
    @RenderSection("PageScript", required: false)
</head>
<body>
    <div data-role="page" id="@ViewBag.PageId" data-title="@ViewBag.Title">
        @Html.Partial("_Header.mobile")
        <!-- /header -->

        <div id="body-main" role="main" class="ui-content" style="overflow-y: auto; overflow-x: hidden;">
            @RenderSection("navbar", required: false)
            <div class="ui-grid-solo inner-page">
                @RenderSection("innerTitle", required: false)
            </div>

            @RenderBody()

            <span class="presented-by">
                <a href="https://www.lakelandbank.com">
                    <img src="~/Styles/images/presentedby.png" alt="">
                </a>
            </span>
        </div>
        <!-- /content -->
        @Html.Partial("_Footer.mobile")
    </div>
    <!-- /page -->

</body>
</html>
