@model List<string>

<div class="navbar">
    <ul>
        <li class="first">
            <a href='@Url.Action("Index", "Fair")'>The Fair</a>
        </li>
        <li>
            <a href='@Url.Action("Index", "Fun")'>Fun</a>
        </li>
        <li>
            <a href='@Url.Action("Index", "Info")'>Info</a>
        </li>
        <li>
            <a href='@Url.Action("Index", "Social")'>Social</a>
        </li>
        <li>
            <a href='@Url.Action("Index", "Map")' data-ajax="false">Map</a>
        </li>
    </ul>
</div>
