@using NJFairground.Web.Utilities
@{
    ViewBag.Title = "Direction To Fairground | Sussex County Fairgrounds";
    ViewBag.PageId = "map";
}
@section PageStyle{
    <style type="text/css">
        @(Html.CssMinify(@<text>
        .autocomplete {
            background-color: #ffffff;
            border: 1px solid #808080;
        }

            .autocomplete li {
                padding: 1%;
            }

                .autocomplete li.hover {
                    background-color: #faebd7;
                }
        </text>))
    </style>
}
@section PageScript{
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    @Html.RenderScripts("~/Scripts/GoogleMapAPIScript")

    <script type="text/javascript">
        @(Html.JsMinify(@<text>
        refreshPage();
        $(document).ready(function () {
            $('#origin').autocomplete({
                source: function () {
                    $("#address-map-area").gmap3({
                        getaddress: {
                            address: $(this).val(),
                            callback: function (results) {
                                if (!results) return;
                                $("#origin").autocomplete("display", results, false);
                            }
                        }
                    });
                },
                cb: {
                    cast: function (item) {
                        return item.formatted_address;
                    },
                    select: function (item) {
                        //$("#map").gmap3(
                        //  { action: 'clear', name: 'marker' },
                        //  {
                        //      action: 'addMarker',
                        //      latLng: item.geometry.location,
                        //      map: { center: true }
                        //  }
                        //);
                    }
                }
            });
        });

        search_onclick = function () {
            $('#map-area').width(($(document).width() - 30) + 'px').height('350px');
            $("#map-area").gmap3({
                action: 'clear',
                name: 'directionRenderer'
            });
            $("#map-area").gmap3({
                getroute: {
                    options: {
                        origin: $('#origin').val(),//"New Jersey State Fair 37 Plains Road Augusta, NJ 07822", //"48 Pirrama Road, Pyrmont NSW",
                        destination: $('#destination').val(),//"New Jersey State Fair P.O. Box 2456 Branchville, NJ 07826",//"Bondi Beach, NSW",
                        travelMode: google.maps.DirectionsTravelMode.DRIVING
                    },
                    callback: function (results) {
                        if (!results) return;
                        if ($('#direction-area').length > 0) {
                            $("#direction-area").empty();
                        }
                        $(this).gmap3({
                            map: {
                                options: {
                                    zoom: 20,
                                    center: [-33.879, 151.235]
                                }
                            },
                            directionsrenderer: {
                                container: $('#direction-area'),
                                options: {
                                    directions: results
                                }
                            }
                        });
                    }
                }
            });
        };
        </text>))
    </script>
}

<h2 class="title">Directions to Fairgrounds</h2>
<div class="ui-grid-solo inner-page">
    <div class="search-container">
        @Html.TextBox("origin", "", new { @class = "search-input", data_role = "none", placeholder="Enter your location" })
        <!--New Jersey State Fair P.O. Box 2456 Branchville, NJ 07826-->
        <input class="btnSearch" type="button" value="Go" data-role="none" onclick="search_onclick()">
    </div>
    <div id="map-area"></div>
    <div id="direction-area"></div>
    <div id="address-map-area" style="display:none;"></div>
</div>
@Html.Hidden("destination", CommonUtility.GetAppSetting<string>("FairGroundAddress"))