@using NJFairground.Web.Utilities
@using NJFairground.Web.Models
@model PageModel
@{
    ViewBag.Title = string.Format("{0} | Sussex County Fairgrounds", Model.PageDesc);
    ViewBag.PageId = Model.PageName;
}
@section navbar{
    @Html.Partial("_NavigationBar.mobile", (List<string>)ViewBag.NavBarItems)
}
@section innerTitle{
    <img class="inner-banner" src='@Model.PageImageUrl' alt="">
    <h2 class="inner-title">@Html.Raw("General Information")</h2>
}
<div class="ui-grid-solo inner-page">
    @foreach (var pageItemdata in Model.PageItems)
    {
        <div class="info-block">
            <img class="info-pic" src='@pageItemdata.PageItemImageUrl' alt="">
            <a title="Details" class="details" href="@Url.Action("Index", "Details", new { PageId = Model.PageId, PageItemId = pageItemdata.PageItemId }) ">Details</a>
            <h4>@pageItemdata.PageHeaderText</h4>
            <div>@pageItemdata.PageSubHeaderText</div>
        </div>
    }
</div>
