@using NJFairground.Web.Models
@using NJFairground.Web.Utilities
@model List<PageItemModel>
@{
    ViewBag.Title = "Index.mobile";
}
<h2 class="title">@Model.PageHeaderText</h2>
<div class="ui-grid-solo highlights promote inner-page">
    <img class="inner-banner" src='@Model.PageItemImageUrl' alt="">
    @foreach (var pageItemdata in Model)
    {
        <div class="ui-block-a highlight">
            <div class="text">
                <h4>@pageItemdata.PageHeaderText</h4>
                <p>@pageItemdata.PageSubHeaderText</p>
            </div>
            <div class="action">
                <a title="Details" class="details" href="@Url.Action("Index", "Details", new { PageId = (int)Page.Promote, PageItemId = pageItemdata.PageItemId }) ">Details</a>
                <img class="star" src='@pageItemdata.PageItemImageUrl' alt="">
            </div>
        </div>
    }
</div>
