@using NJFairground.Web.Utilities
@using NJFairground.Web.Models
@model List<PageItemModel>
@{
    ViewBag.Title = "Social | Sussex County Fairgrounds";
    ViewBag.PageId = "social";
}

@section navbar{
    @Html.Partial("_NavigationBar.mobile", (List<string>)ViewBag.NavBarItems)
}

@section innerTitle{
    <img class="inner-banner" src='@Url.Content("~/Styles/images/Social Main Picture.jpg")' alt="">
    <h2 class="inner-title">@Html.Raw("Get Social")</h2>
}

<div class="ui-grid-solo inner-page">
    <div class="ui-block-a">

        <div class="social-block odd">
            <img class="social-pic" src='@Url.Content(string.Format("{0}{1}", CommonUtility.GetAppSetting<string>("UploadFolderItemImagePath"), "facebook.png"))' alt="">
            <a title="Details" class="details" href="@Url.Action("Index", "SocialDetails", new { feedLink = "Facebook:RssFeed", feedFor = FeedFor.Facebook }) ">Details</a>
            <h4>Facebook</h4>
        </div>
        <div class="social-block even">
            <img class="social-pic" src='@Url.Content(string.Format("{0}{1}", CommonUtility.GetAppSetting<string>("UploadFolderItemImagePath"), "twitter.png"))' alt="">
            <a title="Details" class="details" href="@Url.Action("Index", "SocialDetails", new { feedLink = "Twitter:RssFeed", feedFor = FeedFor.Twitter }) ">Details</a>
            <h4>Twitter</h4>
        </div>
        <div class="social-block odd">
            <img class="social-pic" src='@Url.Content(string.Format("{0}{1}", CommonUtility.GetAppSetting<string>("UploadFolderItemImagePath"), "Pinterest.png"))' alt="">
            <a title="Details" class="details" href="@Url.Action("Index", "SocialDetails", new { feedLink = "Pinterest:RssFeed", feedFor = FeedFor.Pinterest }) ">Details</a>
            <h4>Pinterest</h4>
        </div>
        <div class="social-block even">
            <img class="social-pic" src='@Url.Content(string.Format("{0}{1}", CommonUtility.GetAppSetting<string>("UploadFolderItemImagePath"), "Instagram.png"))' alt="">
            <a title="Details" class="details" href="@Url.Action("Index", "SocialDetails", new { feedLink = "Instagram:RssFeed", feedFor = FeedFor.Instagram }) ">Details</a>
            <h4>Instagram</h4>
        </div>
    </div>
    @*<h2 class="inner-title sub">Login to Social Media</h2>
    <div class="ui-block-a">
        <div class="social-block odd">
            <img class="social-pic" src='@Url.Content(string.Format("{0}{1}", CommonUtility.GetAppSetting<string>("UploadFolderItemImagePath"), "facebook.png"))' alt="">
            <a title="Details" class="details" href="javascript:void(0)">Details</a>
            <h4>Facebook</h4>
        </div>
        <div class="social-block even">
            <img class="social-pic" src='@Url.Content(string.Format("{0}{1}", CommonUtility.GetAppSetting<string>("UploadFolderItemImagePath"), "twitter.png"))' alt="">
            <a title="Details" class="details" href="javascript:void(0)">Details</a>
            <h4>Twitter</h4>
        </div>
    </div>*@
</div>
