@model NJFairground.Web.Models.PageItemModel
@using NJFairground.Web.Utilities
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Home | Sussex County Fairgrounds</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @{Html.RenderPartial("_CommonStyleSection");}
    @{Html.RenderPartial("_CommonScriptSection");}
</head>
<body>
    <div data-role="page" id="details" data-title="Details | Sussex County Fairgrounds">
        <div data-role="header" id="header-main">
            @*<div class="header-back">*@
            <a class="back" id="btnBack">Back</a>
            <h1>Fair Grounds</h1>
            @*</div>*@
            <a href="javascript:void(0)" class="ui-btn-right ui-btn ui-btn-inline ui-btn-icon-notext ui-icon-magnifier ui-corner-all">Magnifier</a>
            <a href="javascript:void(0)" class="ui-btn-right ui-btn ui-btn-inline ui-btn-icon-notext ui-icon-star ui-corner-all">Star</a>
            <a href="javascript:void(0)" class="ui-btn-right ui-btn ui-btn-inline ui-btn-icon-notext ui-icon-connect ui-corner-all">Connect</a>
        </div>
        <!-- /header -->

        <div id="body-main" role="main" class="ui-content" style="overflow-y: auto; overflow-x: hidden;">
            <h2 class="title">@Model.PageHeaderText</h2>
            <div class="ui-grid-solo inner-page">
                @if (!string.IsNullOrEmpty(Model.PageItemImage))
                { 
                    <img class="inner-banner" src='@Url.Content(string.Format("{0}{1}", CommonUtility.GetAppSetting<string>("UploadFolderItemImagePath"), Model.PageItemImage))' alt="" />
                }
                <div class="ui-block-a scroller">
                    <h2>@Model.PageHeaderText</h2>
                    <div id="scroller">
                        <p>@Model.PageItemDetailText</p>
                    </div>
                </div>
            </div>
            <span class="presented-by">
                <img src='@Url.Content("~/Styles/images/presentedby-details.png")' alt="">
            </span>
        </div>
        <!-- /content -->
        @Html.Partial("_Footer.mobile")
        <!-- /footer -->
    </div>
    <!-- /page -->
</body>
</html>
