@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<title>Home | Sussex County Fairgrounds</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src='@Url.Content("~/Scripts/jquery.js")'></script>

<!--- Custom Scroller --->
<link href='@Url.Content("~/Styles/jquery.mCustomScrollbar.css")' rel="stylesheet" />
<script src='@Url.Content("~/Scripts/jquery.mCustomScrollbar.concat.min.js")'></script>
<script>
    (function ($) {
        $(window).load(function () {
            $("#scroller").mCustomScrollbar({
                scrollButtons: {
                    enable: false
                }
            });
        });
    })(jQuery);
</script>

<!--- JQuery Mobile 1.4.2 --->
<link rel="stylesheet" href='@Url.Content("~/Styles/jquery.mobile-1.4.2.min.css")' />
<script src='@Url.Content("~/Scripts/jquery.mobile-1.4.2.min.js")'></script>

<!--- Custom CSS --->
<link rel="stylesheet" href='@Url.Content("~/Styles/style.css")' />


</head>
<body>
<div data-role="page" id="details" data-title="Details | Sussex County Fairgrounds">
  <div data-role="header">
    <a class="back" href="#">Back</a>
    <h1><span>F</span>air<span>G</span>rounds</h1>
    <a href="javascript:void(0)" class="ui-btn-right ui-btn ui-btn-inline ui-btn-icon-notext ui-icon-magnifier ui-corner-all">Magnifier</a>
    <a href="javascript:void(0)" class="ui-btn-right ui-btn ui-btn-inline ui-btn-icon-notext ui-icon-star ui-corner-all">Star</a>
    <a href="javascript:void(0)" class="ui-btn-right ui-btn ui-btn-inline ui-btn-icon-notext ui-icon-connect ui-corner-all">Connect</a>
  </div>
  <!-- /header -->
  
  <div role="main" class="ui-content" style="max-height:550px;overflow-y:auto;overflow-x:hidden;">
    <h2 class="title">Lorem Ipsam</h2>
    <div class="ui-grid-solo inner-page">
      <img class="inner-banner" src='@Url.Content("~/Styles/images/banner-details.jpg")' alt="">
      <div class="ui-block-a scroller">
        <h2>Lorem Ipsum</h2>
        <div id="scroller">
        <p>Lorem ipsum Dummy text Lorem ipsum Dummy textLorem ipsum Dummy textLorem ipsum include Dummy textLorem ipsum Dummy textLorem ipsum Dummy textLorem ipsum Dummy textLorem ipsum Dummy textLorem ipsum Dummy textLorem ipsum Dummy textLorem ipsum Dummy textLorem ipsum Dummy text</p>
        <p>Lorem ipsum Dummy text Lorem ipsum Dummy textLorem ipsum Dummy textLorem ipsum include Dummy textLorem ipsum Dummy textLorem ipsum Dummy textLorem ipsum Dummy textLorem ipsum Dummy textLorem ipsum Dummy textLorem ipsum Dummy textLorem ipsum Dummy textLorem ipsum Dummy text</p>
        <p>Lorem ipsum Dummy text Lorem ipsum Dummy textLorem ipsum Dummy textLorem ipsum include Dummy textLorem ipsum Dummy textLorem ipsum Dummy textLorem ipsum Dummy textLorem ipsum Dummy textLorem ipsum Dummy textLorem ipsum Dummy textLorem ipsum Dummy textLorem ipsum Dummy text</p>
        <p>Lorem ipsum Dummy text Lorem ipsum Dummy textLorem ipsum Dummy textLorem ipsum include Dummy textLorem ipsum Dummy textLorem ipsum Dummy textLorem ipsum Dummy textLorem ipsum Dummy textLorem ipsum Dummy textLorem ipsum Dummy textLorem ipsum Dummy textLorem ipsum Dummy text</p>
        </div>
      </div>
    </div>
    <span class="presented-by"><img src='@Url.Content("~/Styles/images/presentedby-details.png")' alt=""></span>
  </div>
  <!-- /content -->
   @Html.Partial("_Footer.mobile")
  <!-- /footer --> 
</div>
<!-- /page -->


</body>
</html>